<h3>Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
<h4>Today's Free event:</h4>  
<div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQcE0NM9FitX6IDqR_fzjloXIjFmxnvWugBXvvKLhDQrtAnXMcwwoqQFLcj9dUTb0h8Xk0-OjP8wz34/pubchart?oid=221695104&amp;format=interactive"></iframe></div><div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQcE0NM9FitX6IDqR_fzjloXIjFmxnvWugBXvvKLhDQrtAnXMcwwoqQFLcj9dUTb0h8Xk0-OjP8wz34/pubchart?oid=82938910&amp;format=interactive"></iframe></div>
