<% content_for :pages do %>NBA Active<% end %>
<h3>NBA Active</h3>
<p>
Click to view the list of active NBA charts:
</p>
<ul class="nav navbar-nav navbar-left">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Hello</a></li>
      <li class="divider"></li>
      <li><%= link_to 'This is the best choice', page_path('nba') %></li>
      <li><a href="#">This is the second choice</a></li>
      <li><a href="#">This is the third choice</a></li>
    </ul>
  </li>
</ul>